name: Build and deploy Python project to Azure Function App - spareparts-pricing

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '.github/workflows/**'
  workflow_dispatch:  # Permite ejecución manual desde GitHub UI

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'  # Usa la misma versión que Azure Function App

      - name: Install dependencies
        run: |
          pip install -r requirements.txt --target=Scripts-Disparos-main/.python_packages/lib/site-packages

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: spareparts-pricing
          package: Scripts-Disparos-main
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_39C3DCB63E3B444899D3F6CC70C59787 }}
