name: Build and deploy Python project to Azure Function App - spareparts-pricing

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - 'requirements.txt'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies and package app
        run: |
          python -m pip install --upgrade pip

          # Crear carpeta de empaquetado con dependencias
          mkdir -p final_package/.python_packages/lib/site-packages
          pip install -r requirements.txt --target=final_package/.python_packages/lib/site-packages --no-cache-dir

          # Copiar todos los archivos del proyecto al paquete, excepto .git y .github
          shopt -s extglob
          cp -r !(final_package|.git|.github) final_package/

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: spareparts-pricing
          package: final_package
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_39C3DCB63E3B444899D3F6CC70C59787 }}
